@model IEnumerable<NewLEaderboard.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewLeaderboard</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>

    <div class="row">
        <div class="leaderboard-container">


            @foreach (var item in Model)
            {
                <div class="leaderboard-item">
                    <div class="leaderboard-content jp">
                        <div class="leaderboard-number">
                            <span>
                                1
                            </span>
                        </div>
                        <div class="leaderboard-name">
                            LukasDMania
                        </div>
                        <div class="leaderboard-points">
                            30000 LP
                            <img src="img/icon-trophy.svg" class="gold">1
                            <img src="img/icon-trophy.svg" class="silver">2
                            <img src="img/icon-trophy.svg" class="bronze">3
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>