@model IEnumerable<NewLEaderboard.Models.Tournament>

@{
    ViewData["Title"] = "Tournaments";
    ViewData["Header"] = "Tournaments";

    string tournamentDate;
}

<div class="playerprofile-container">

    <div class="playerprofile-card">
        <div class="row">

            <div class="col-md-12">

                <div class="playerprofile-blackskewed" style="padding-bottom: 5px;">

                    <div class="tournamentdetail-name">
                        Past Tournaments
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <div class="tournament-overview-list">

                @foreach (var item in Model)
                {

                    tournamentDate = item.TournamentDate.ToShortDateString();
                    <a asp-action="Details" asp-route-id="@item.TournamentId">
                        <div class="tournament-overview-list-item">
                            <section>
                                <div class="row">

                                    <div class="col-md-6">
                                        <span class="tournament-overview-list-item-name">
                                            @Html.DisplayFor(modelItem => item.TournamentName)
                                        </span>
                                    </div>

                                    <div class="col-md-6 tournament-overview-list-item-colright">
                                        <span class="tournament-overview-list-item-date">
                                            @tournamentDate
                                        </span>
                                        <span class="tournament-overview-list-item-participants">
                                            @Html.DisplayFor(modelItem => item.ParticipantsAmount) Participants
                                        </span>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </a>

                }

            </div>

        </div>

    </div>

</div>
