:root {
    --GeneralWhite: #e5e5e5;
    --GeneralBlack: #1e1e1e;
    --GeneralRed: #f00000;
}

html, body {
    background-color: var(--GeneralBlack);
    background: url(../img/bg.jpg) repeat center top fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    /*color: var(--GeneralBlack);*/
    color: var(--GeneralWhite);
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

a {
    color: var(--GeneralRed);
}

a:hover {
    color: #a30000;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.tac {
    text-align: center;
}

.c-red {
    color: var(--GeneralRed);
}

.c-white {
    color: var(--GeneralWhite);
}

.c-black {
    color: var(--GeneralBlack);
}

.header {
    /*background-color: var(--GeneralBlack);*/
    background-color: rgba(116, 116, 116, 0.3);
    height: 65px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.header nav {
    display: block;
    float: right;
    padding-top: 14px;
}

.header img {
    width: 270px;
    position: absolute;
    top: 10px;
    left: 10px;
    /*top: -60px;
left: -20px;*/
    z-index: 100;
}

.header h1 {
    color: var(--GeneralWhite);
    /*font-weight: bold;*/
    letter-spacing: 2px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    display: block;
    font-size: 30px;
    margin-top: 14px;
    position: absolute;
    /*left: 380px;*/
    left: 300px;
    text-transform: uppercase;
}

h1 span {
    color: var(--GeneralRed);
    /*font-style: italic;*/
}

.btn-primary {
    background-color: var(--GeneralRed);
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--GeneralRed);
    --bs-btn-border-color: var(--GeneralRed);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a30000;
    --bs-btn-hover-border-color: #a30000;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a30000;
    --bs-btn-active-border-color: #a30000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--GeneralRed);
    --bs-btn-disabled-border-color: var(--GeneralRed);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fl-r {
    float: right;
    display: block;
}

.fl-l {
    float: left;
    display: block;
}

/* === LEADERBOARD ======================================= */

.leaderboard-container {
    margin: 75px auto 0;
    max-width: 1000px;
}

.leaderboard-container .blanka {
    background-image: url('../img/leaderboard-characters/blanka.png');
}

.leaderboard-container .cammy {
    background-image: url('../img/leaderboard-characters/cammy.png');
}

.leaderboard-container .chunli {
    background-image: url('../img/leaderboard-characters/chunli.png');
}

.leaderboard-container .deejay {
    background-image: url('../img/leaderboard-characters/deejay.png');
}

.leaderboard-container .dhalsim {
    background-image: url('../img/leaderboard-characters/dhalsim.png');
}

.leaderboard-container .ehonda {
    background-image: url('../img/leaderboard-characters/ehonda.png');
}

.leaderboard-container .guile {
    background-image: url('../img/leaderboard-characters/guile.png');
}

.leaderboard-container .jamie {
    background-image: url('../img/leaderboard-characters/jamie.png');
}

.leaderboard-container .jp {
    background-image: url('../img/leaderboard-characters/jp.png');
}

.leaderboard-container .juri {
    background-image: url('../img/leaderboard-characters/juri.png');
}

.leaderboard-container .ken {
    background-image: url('../img/leaderboard-characters/ken.png');
}

.leaderboard-container .kimberly {
    background-image: url('../img/leaderboard-characters/kimberly.png');
}

.leaderboard-container .lily {
    background-image: url('../img/leaderboard-characters/lily.png');
}

.leaderboard-container .luke {
    background-image: url('../img/leaderboard-characters/luke.png');
}

.leaderboard-container .manon {
    background-image: url('../img/leaderboard-characters/manon.png');
}

.leaderboard-container .marisa {
    background-image: url('../img/leaderboard-characters/marisa.png');
}

.leaderboard-container .ryu {
    background-image: url('../img/leaderboard-characters/ryu.png');
}

.leaderboard-container .zangief {
    background-image: url('../img/leaderboard-characters/zangief.png');
}

.leaderboard-link {
    color: var(--GeneralWhite);
    text-decoration: none;
}

.leaderboard-link:hover {
    color: var(--GeneralWhite);
    text-decoration: none;
}

.leaderboard-item {
    display: block;
    /*background-color: var(--GeneralRed);*/
    /*background-color: #a30000;*/
    /*background: rgb(163,0,0);*/
    background: linear-gradient(0deg, rgba(240,0,0,1) 35%, rgba(163,0,0,1) 36%);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    transform: skew(10deg, 0);
    transition: transform .2s; /* Animation */
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.leaderboard-item:hover {
    transform: scale(1.05) skew(10deg, 0);
    -webkit-box-shadow: 0px 0px 10px 0px #747474;
    -moz-box-shadow: 0px 0px 10px 0px #747474;
    box-shadow: 0px 0px 10px 0px #747474;
}

.leaderboard-content {
    transform: skew(-10deg, 0);
    padding: 7px;
    background-repeat: no-repeat;
    background-position: top 0px right 0px;
    background-size: contain;
}

.leaderboard-number {
    /*background-color: var(--GeneralBlack);*/
    background: linear-gradient(0deg, #181818 10%, #2b2b2b 90%);
    display: block;
    float: left;
    width: 90px;
    height: 63px;
    text-align: center;
    transform: skew(10deg, 0);
    border-radius: 5px;
}

.leaderboard-number span {
    display: block;
    /*transform: skew(-10deg, 0);*/
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 1px;
    text-shadow: 4px 3px 0px #000000;
    color: var(--GeneralWhite);
}

.leaderboard-name {
    display: block;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -2px;
    left: 15px;
    text-shadow: 2px 2px 0px var(--GeneralBlack);
    color: var(--GeneralWhite);
    text-decoration: none;
}

.leaderboard-points {
    display: block;
    font-size: 14px;
    font-weight: 900;
    position: relative;
    top: 4px;
    left: 17px;
    color: var(--GeneralBlack);
}

.leaderboard-points img {
    height: 12px;
    position: relative;
    top: -1px;
    margin-left: 15px;
    margin-right: 2px;
}

.leaderboard-points img.gold {
    filter: invert(66%) sepia(69%) saturate(431%) hue-rotate(11deg) brightness(94%) contrast(85%) drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5));
}

.leaderboard-points img.silver {
    filter: invert(92%) sepia(6%) saturate(4%) hue-rotate(30deg) brightness(98%) contrast(83%) drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5));
}

.leaderboard-points img.bronze {
    filter: invert(53%) sepia(25%) saturate(693%) hue-rotate(357deg) brightness(101%) contrast(88%) drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5));
}

.table th, table td {
    color: var(--GeneralWhite);
}

.modal-header {
    background-color: var(--GeneralBlack);
    color: var(--GeneralWhite);
    border-bottom-color: #333333;
}

.modal-body {
    background-color: var(--GeneralBlack);
}

.modal-backdrop {
    opacity: 0.75 !important;
}

/* === PLAYER PROFILE ==================================== */

.playerprofile-container {
    margin: 75px auto 0;
    max-width: 1000px;
}

.playerprofile-card {
    background-color: rgba(209, 209, 209, 0.3);
    padding: 20px;
    border-radius: 10px;
    transform: skew(10deg, 0);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.playerprofile-card .row {
    transform: skew(-10deg, 0);
    padding: 0;
}

.playerprofile-character {
    position: relative;
}

.playerprofile-character img {
    width: 100%;
    display: block;
    position: absolute;
    top: -70px;
}

.playerprofile-blackskewed {
    background-color: rgba(0, 0, 0, 0.6);
    transform: skew(10deg, 0);
    padding: 5px 20px 15px;
    border-radius: 10px;
}

.playerprofile-name {
    display: block;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 3px 3px 0px var(--GeneralBlack);
}

.playerprofile-discord {
    /*font-weight: bold;*/
    transform: skew(-10deg, 0);
    font-size: 20px;
    margin-top: -5px;
}

.playerprofile-discord img {
    display: inline-block;
    width: 25px;
    filter: brightness(0) saturate(100%) invert(8%) sepia(98%) saturate(6662%) hue-rotate(356deg) brightness(103%) contrast(127%);
    margin-right: 3px;
    margin-top: -2px;
    opacity: 0.75;
}

.playerprofile-title {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 2px 0px var(--GeneralBlack);
    border-bottom: 3px solid var(--GeneralWhite);
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 2px;
}

.p-lr-20 {
    padding: 0 40px;
}

.playerprofile-stats-content {
    padding-top: 10px;
}

.playerprofile-stats-content div {
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.playerprofile-stats-content table tr td {
    padding-bottom: 10px;
    text-shadow: 0px 0px 2px var(--GeneralBlack);
}

.playerprofile-history {
    padding-top: 15px;
    padding-left: 15px;
}

.playerprofile-history .history-item {
    display: block;
    background: linear-gradient(0deg, rgba(240,0,0,1) 10%, rgba(163,0,0,1) 11%);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    transform: skew(10deg, 0);
    transition: transform .2s; /* Animation */
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 3px;
    padding: 4px 20px 7px;
}

.playerprofile-history .history-item:hover {
    transform: scale(1.05) skew(10deg, 0);
    /*-webkit-box-shadow: 0px 0px 10px 0px #747474;
    -moz-box-shadow: 0px 0px 10px 0px #747474;
    box-shadow: 0px 0px 10px 0px #747474;*/
}

.playerprofile-history .history-item div {
    transform: skew(-10deg, 0);
}

.history-item-name {
    font-weight: bold;
}

.playerprofile-history a {
    color: var(--GeneralWhite);
    text-decoration: none;
}

.playerprofile-history a:hover {
    color: var(--GeneralWhite);
    text-decoration: none;
}

/* === TOURNAMENT DETAILS ================================ */

.tournamentdetail-name {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 0px var(--GeneralBlack);
}

.tournamentdetail-placing {
    padding-top: 15px;
    padding-left: 15px;
}

.tournamentdetail-placing-item {
    display: block;
    background: linear-gradient(0deg, rgba(240,0,0,1) 10%, rgba(163,0,0,1) 11%);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    transform: skew(10deg, 0);
    transition: transform .2s; /* Animation */
    margin-bottom: 15px;
    /*overflow: hidden;*/
    border-radius: 3px;
    padding: 4px 20px 7px;
    height: 32px;
}

.tournamentdetail-placing-item:hover {
    transform: scale(1.05) skew(10deg, 0);
    /*-webkit-box-shadow: 0px 0px 10px 0px #747474;
    -moz-box-shadow: 0px 0px 10px 0px #747474;
    box-shadow: 0px 0px 10px 0px #747474;*/
}

.tournamentdetail-placing-item div {
    transform: skew(-10deg, 0);
    position: relative;
}

.tournamentdetail-placing a {
    color: var(--GeneralWhite);
    text-decoration: none;
}

.tournamentdetail-placing a:hover {
    color: var(--GeneralWhite);
    text-decoration: none;
}

.tournamentdetail-placing-item .number {
    display: block;
    left: -35px;
    top: -5px;
    border: solid 5px var(--GeneralBlack);
    /*background-color: #a30000;*/
    background: linear-gradient(35deg, rgba(240,0,0,1) 50%, rgba(163,0,0,1) 51%);
    color: #FFF;
    border-radius: 30px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    width: 45px;
    font-weight: bold;
}

.tournamentdetail-placing-item .number span {
    display: block;
    position: relative;
    top: 6px;
    left: 0px;
    text-shadow: 0px 0px 5px #000000;
}

/* === MEDIA QUERIES ===================================== */

@media only screen and (max-width: 850px) {

    .header {
        overflow: hidden;
        text-align: center;
    }

    .header img {
        position: relative;
        top: 9px;
        left: -5px;
        margin: 0 auto 0;
        display: block;
    }

    .header h1 {
        display: none;
    }

    .header nav {
        display: block;
        float: none;
        padding: 10px;
        position: absolute;
        top: 65px;
        text-align: center;
        width: 100%;
        /*background-color: #2e2e2e;*/
        background-color: rgba(116, 116, 116, 0.3);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    }
}

@media only screen and (max-width: 768px) {

    .leaderboard-container {
        padding: 0 30px;
    }

    .leaderboard-content {
        background-position: top 0px right -120px;
    }

    .playerprofile-character img {
        width: 100%;
        display: block;
        position: absolute;
        top: -70px;
        z-index: -500;
        opacity: 0.3;
    }

    .playerprofile-title, .playerprofile-history, .playerprofile-stats-content, .playerprofile-card {
        z-index: 900;
        position: relative;
    }
}