

h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
}


tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
}

    tr:not(:first-child):hover {
        background-color: #9692af;
        transform: scale(1.1);
        -webkit-box-shadow: 0px 5px 15px 8px gray;
        box-shadow: 0px 5px 15px 8px gray;
    }

    tr:nth-child(odd) {
    }

    tr:nth-child(1) {
        color: #9692af;
    }

td {
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
}

body {
    background: -webkit-linear-gradient(left, #373B44, ##4286f4);
    background: linear-gradient(to right, #373B44, #4286f4);
    font-family: 'Roboto', sans-serif;
}
