:root {
    --GeneralWhite: #e5e5e5;
}

html, body {
    background-color: #1e1e1e;
    background: url(../img/bg.jpg) repeat center top fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    /*color: #1e1e1e;*/
    color: #e5e5e5;
}

a {
    color: #f00000;
}

    a:hover {
        color: #a30000;
    }

.oswald {
    font-family: 'Oswald', sans-serif;
}

.tac {
    text-align: center;
}

.c-red {
    color: #f00000;
}

.c-white {
    color: #e5e5e5;
}

.c-darkgrey {
    color: #1e1e1e;
}

.header {
    /*background-color: #1e1e1e;*/
    background-color: rgba(116, 116, 116, 0.3);
    height: 65px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

    .header nav {
        display: block;
        float: right;
        padding-top: 14px;
    }

    .header img {
        width: 400px;
        position: fixed;
        top: -60px;
        left: -20px;
        z-index: 100;
    }

    .header h1 {
        color: #e5e5e5;
        /*font-weight: bold;*/
        letter-spacing: 2px;
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
        display: block;
        font-size: 30px;
        margin-top: 14px;
        position: fixed;
        left: 380px;
        text-transform: uppercase;
    }

h1 span {
    color: #f00000;
    /*font-style: italic;*/
}

.btn-primary {
    background-color: #f00000;
    --bs-btn-color: #fff;
    --bs-btn-bg: #f00000;
    --bs-btn-border-color: #f00000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a30000;
    --bs-btn-hover-border-color: #a30000;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a30000;
    --bs-btn-active-border-color: #a30000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #f00000;
    --bs-btn-disabled-border-color: #f00000;
}

.leaderboard-container {
    margin: 75px auto 0;
    max-width: 1000px;
}

    .leaderboard-container .blanka {
        background-image: url('../img/leaderboard-characters/blanka.png');
    }

    .leaderboard-container .cammy {
        background-image: url('../img/leaderboard-characters/cammy.png');
    }

    .leaderboard-container .chunli {
        background-image: url('../img/leaderboard-characters/chunli.png');
    }

    .leaderboard-container .deejay {
        background-image: url('../img/leaderboard-characters/deejay.png');
    }

    .leaderboard-container .dhalsim {
        background-image: url('../img/leaderboard-characters/dhalsim.png');
    }

    .leaderboard-container .ehonda {
        background-image: url('../img/leaderboard-characters/ehonda.png');
    }

    .leaderboard-container .guile {
        background-image: url('../img/leaderboard-characters/guile.png');
    }

    .leaderboard-container .jamie {
        background-image: url('../img/leaderboard-characters/jamie.png');
    }

    .leaderboard-container .jp {
        background-image: url('../img/leaderboard-characters/jp.png');
    }

    .leaderboard-container .juri {
        background-image: url('../img/leaderboard-characters/juri.png');
    }

    .leaderboard-container .ken {
        background-image: url('../img/leaderboard-characters/ken.png');
    }

    .leaderboard-container .kimberly {
        background-image: url('../img/leaderboard-characters/kimberly.png');
    }

    .leaderboard-container .lily {
        background-image: url('../img/leaderboard-characters/lily.png');
    }

    .leaderboard-container .luke {
        background-image: url('../img/leaderboard-characters/luke.png');
    }

    .leaderboard-container .manon {
        background-image: url('../img/leaderboard-characters/manon.png');
    }

    .leaderboard-container .marisa {
        background-image: url('../img/leaderboard-characters/marisa.png');
    }

    .leaderboard-container .ryu {
        background-image: url('../img/leaderboard-characters/ryu.png');
    }

    .leaderboard-container .zangief {
        background-image: url('../img/leaderboard-characters/zangief.png');
    }


.leaderboard-item {
    display: block;
    /*background-color: #f00000;*/
    /*background-color: #a30000;*/
    /*background: rgb(163,0,0);*/
    background: linear-gradient(0deg, rgba(240,0,0,1) 35%, rgba(163,0,0,1) 36%);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    transform: skew(10deg, 0);
    transition: transform .2s; /* Animation */
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
}

    .leaderboard-item:hover {
        transform: scale(1.05) skew(10deg, 0);
        -webkit-box-shadow: 0px 0px 10px 0px #747474;
        -moz-box-shadow: 0px 0px 10px 0px #747474;
        box-shadow: 0px 0px 10px 0px #747474;
    }

.leaderboard-content {
    transform: skew(-10deg, 0);
    padding: 7px;
    background-repeat: no-repeat;
    background-position: top 0px right 0px;
    background-size: contain;
}

.leaderboard-number {
    /*background-color: #1e1e1e;*/
    background: linear-gradient(0deg, #181818 10%, #2b2b2b 90%);
    display: block;
    float: left;
    width: 90px;
    height: 63px;
    text-align: center;
    transform: skew(10deg, 0);
    border-radius: 5px;
}

    .leaderboard-number span {
        display: block;
        /*transform: skew(-10deg, 0);*/
        font-size: 40px;
        font-weight: bold;
        position: relative;
        top: 1px;
        text-shadow: 4px 3px 0px #000000;
    }

.leaderboard-name {
    display: block;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -2px;
    left: 15px;
    text-shadow: 2px 2px 0px #1e1e1e;
}

    .leaderboard-name a {
        text-decoration: none;
        color: var(--GeneralWhite);
    }

.leaderboard-points {
    display: block;
    font-size: 14px;
    font-weight: 900;
    position: relative;
    top: 4px;
    left: 17px;
    color: #1e1e1e;
}

    .leaderboard-points img {
        height: 12px;
        position: relative;
        top: -1px;
        margin-left: 15px;
        margin-right: 2px;
    }

        .leaderboard-points img.gold {
            filter: invert(66%) sepia(69%) saturate(431%) hue-rotate(11deg) brightness(94%) contrast(85%) drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5));
        }

        .leaderboard-points img.silver {
            filter: invert(92%) sepia(6%) saturate(4%) hue-rotate(30deg) brightness(98%) contrast(83%) drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5));
        }

        .leaderboard-points img.bronze {
            filter: invert(53%) sepia(25%) saturate(693%) hue-rotate(357deg) brightness(101%) contrast(88%) drop-shadow(0px 0px 1px rgb(0 0 0 / 0.5));
        }

.table th, table td {
    color: var(--GeneralWhite);
}

@media only screen and (max-width: 768px) {

    .header {
        overflow: hidden;
    }

        .header img {
            width: 400px;
            position: relative;
            top: -60px;
            margin: 0 auto 0;
            display: block;
        }

        .header h1 {
            display: none;
        }

        .header nav {
            display: block;
            float: none;
            padding: 10px;
            position: absolute;
            top: 65px;
            text-align: center;
            width: 100%;
            /*background-color: #2e2e2e;*/
            background-color: rgba(116, 116, 116, 0.3);
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
        }

    .leaderboard-container {
        padding: 0 30px;
    }

    .leaderboard-content {
        background-position: top 0px right -120px;
    }
}
